:root{
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: .1rem solid rgba(255, 255, 255, .3);
}

*{
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  
}

body{
  background: var(--bg);
}

html{
  font-size: 62.5%;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html::-webkit-scrollbar{ 
  /* width for scroll bar  */         
  width: .8rem;
}

html::-webkit-scrollbar-track{   
  /* bg color for scroll bar  */ 
  background: transparent;
}

html::-webkit-scrollbar-thumb{   
  /* color for scroll bar  */ 
  background: #fff;
  border-radius: 5rem;
}

.btn{
  display: inline-block;
  color: #fff;
  background: var(--main-color);
  font-size: 1.5rem;
  padding: .6rem 2rem;
}

.btn:hover{
  letter-spacing: 1px;
}









/* header section start */
.header{
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}

.header .logo img{
  width: 70px;
}

.header .navbar a{
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover{
  color: var(--main-color);
  border-bottom: .1rem solid var(--main-color);
  padding-bottom: .5rem;
}

.header .icons div{
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover{
  color: var(--main-color);
}

#menu-btn{
  display: none;
}

.header .search-form{
  position: absolute;
  top: 115%; right: 7%;
  width: 50rem;
  height: 5rem;
  background: #fff;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top; 
}

.header .search-form.active{
  transform: scaleY(1);
}

.header .search-form input{
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  text-transform: none;
  color: var(--black);
}

.header .search-form label{
  color: var(--black);
  font-size: 1.6rem;
  margin-right: 1rem;
}

.header .search-form label:hover{
  color: var(--main-color);
}

.header .cart-items-container{
  background: #fff;
  position: absolute;
  top: 100%;
  right: -35rem;
  width: 35rem;
  height: calc(100vh - 9.5rem);
  padding: 0 1.5rem;
}

.header .cart-items-container.active{
  right: 0;
}

.header .cart-items-container .cart-item{
  position: relative;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header .cart-items-container .cart-item img{
  height: 7rem;
  width: 100px;
  object-fit: cover;
}

.header .cart-items-container .cart-item .fa-times{
  position: absolute;
  font-size: 1.6rem;
  top: 1rem;
  right: 1rem; 
  color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
  color: var(--main-color);
}

.header .cart-items-container .cart-item .content h3{
  font-size: 2rem;
  color: var(--black);
  padding-bottom: .5rem;
}
.header .cart-items-container .cart-item .content .price{
  font-size: 1.5rem;
  color: var(--main-color);
}

.header .cart-items-container .btn{
  width: 100%;
  text-align: center;
}
/* header section end */

/* home section start */
.home *{
  color: #fff;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background:  linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(coffeebg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 60rem;
}

.home .content h3{
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}

.home .content p{
  font-size: 1.8rem;
  line-height: 1.8;
  font-weight: lighter;
  padding: 1rem 0;
  color: hsl(0, 0%, 73%);
}
/* home section end */























/* media queries */
@media(max-width: 900px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 1.5rem 2rem;
  }
}

@media(max-width: 768px){
  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 100%;
    right: -30rem;
    background: #fff;
    width: 30rem;
    height: 100vh;
  }

  .header .navbar.active{
    right: 0;
  }

  .header .navbar a{
    display: block;
    color: var(--black);
    margin: 1.5rem;
    padding: 1rem;
  }

  .header .search-form{
    width: 90%;
    right: 2rem;
  }

  .home{
    justify-content: center;
    background-position: left;
    text-align: center;
  }

  .home{
    border: none;
  }

  .home .content h3{
    font-size: 4.5rem;
  }

  .home .content p{
    font-size: 1.5rem;
  }
}

@media(max-width: 450px){
  html{
    font-size: 50%;
  }
}
